<%-include('partials/header', {DocumentTitle:'URL Shortener'})%>

<div class="container text-center">

    <form action="/shorten" method="POST" >
            <div class="card m-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm"></div>
                        <div class="col-sm">
                            <label class="form-label"><h3>Paste the URL to be shortened</h3></label>
                            <input type="text" class="form-control" name="inputURL" placeholder="Paste the URL here">
                            <button type="submit" class="btn btn-primary m-3">SHORTEN URL</button></div>
                        <div class="col-sm"></div>
                    </div>
                </div>
            </div>
    </form>

    <div class="card m-4">
      <div class="card-body">
        <h3 class="card-title">What is an URL shortener?</h3>
        <p class="card-text">
            An URL shortener allows you to turn long and unreadable links into
            short and memorable links. <br>
            Simply enter the long link into the form and press the SHORTEN URL button. <br>
            On the next page you can copy the shortened URL and share it to your hearts content!
        </p>
      </div>
    </div>
</div>

<%-include('partials/footer')%>